body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiTable-root {
  td {
    & > span {
      display: inline-flex;
      margin: dense;
      flex-wrap: wrap;
      align-items: center;
      //max-height: 1.45rem;
      min-height: 1.75rem;

    }
  }
}
// .MuiFormControl-root {
//   border: 0;
//   margin: 0;
//   display: inline-flex;
//   padding: 0;
//   position: relative;
//   min-width: 0;
//   flex-direction: column;
//   vertical-align: bottom;
// }
// .MuiTable-root {
//   td {
//     max-height: 50%;
//   }
// }
// .td.MuiTypography-h6 {
//   // font-size: 14rem;
//   font-family: "Roboto", "Helvetica", "Arial", sans-serif;
//   font-weight: 500;
//   line-height: 1.6;
//   letter-spacing: 0.0075em;
// }